$green: rgb(194,213,0);
$green-deep: rgba(195, 213, 0, 0.699);
$purple: rgb(156, 66, 180);
$purple-deep: rgb(138, 54, 161);
$light-grey: rgba(200,200,200,0.9);
$lighter-grey: rgba(230, 230, 230, 0.9);
$dark-grey: rgba(100, 100, 100, 0.9);
$darkerer-grey: rgba(30, 30, 30, 0.9);
$darkerest-grey: rgba(10, 10, 10, 0.9);